  <div class="myNavBar">
    <ul>
        <li class="myNav-item" (click)="onSelection('create')" >Create User</li>
        <li class="myNav-item" (click)="onSelection('read')" >Read User</li>
        <li class="myNav-item" (click)="onSelection('update')" >Update User</li>
        <li class="myNav-item" (click)="onSelection('delete')" >Delete User</li>
        <li class="myNav-item" (click)="onSelection('list')" >List Users</li>
    </ul>
  </div>

<ng-container *ngIf="crudOperation" [ngSwitch]="crudOperation">
    <div class="content-wrap">
    <ng-container *ngSwitchCase="'create'">
        <app-create-user (userCreated)="onSelection('list')"></app-create-user>
    </ng-container>
    <ng-container *ngSwitchCase="'read'">
        <app-read-user></app-read-user>
    </ng-container>
    <ng-container *ngSwitchCase="'update'">
        <app-update-user></app-update-user>
    </ng-container>
    <ng-container *ngSwitchCase="'delete'">
        <app-delete-user (userDeleted)="onSelection('list')"></app-delete-user>
    </ng-container>
    <ng-container *ngSwitchCase="'list'">
        <app-list-users></app-list-users>
    </ng-container>
    </div>
</ng-container>