<!-- <h1>Welcome to Angular</h1>
<p>Hello {{ name }} {{ lastname }} welcome to the world of <strong>Angularios</strong></p>
<app-person></app-person>
<app-person [person]="person"></app-person>
<app-person-alt></app-person-alt>
<app-person-alt [person]="person2"></app-person-alt>

<h2>Details of more users</h2>
<app-person *ngFor="let user of users" [person]="user"></app-person> -->
<!-- <app-event-bind></app-event-bind> -->

<!--
<div class="container d-flex flex-column gap-2">
    <app-template-driven-form (person)="onNewPerson($event)"></app-template-driven-form>
    <app-output-demo 
        [userData]="users"
        (deleteUser)="onDeleteUser($event)"
        (sendUser)="onSendUser($event)"
    ></app-output-demo>

    <app-person-card [person]="sendUser"></app-person-card>
</div> -->

<div class="container d-flex flex-column gap-2">
    <app-reactive-form (person)="onNewPerson($event)">

    </app-reactive-form>
    <app-output-demo 
        [userData]="users"
        (deleteUser)="onDeleteUser($event)"
        (sendUser)="onSendUser($event)"
    ></app-output-demo>

    <app-person-card [person]="sendUser"></app-person-card>
</div> 